<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div class="internal">
        <h1 class="gamer-title">
            GamerProXela
        </h1>
        <a href="./login.php" class="gamer-button">LOGIN</a>
    </div>

    <div class="centrado">
        <img src="../assets/img/cover.jpg" alt="GamerProXela store" class="large-image">
    </div>

    <div class="internal">
        <p class="paragraph-gamer">
            GamerProXela es una tienda especializada en la venta de videojuegos. <br>
            Ofrecemos una amplia variedad de títulos para consolas y PC, desde los lanzamientos más recientes 
            hasta clásicos imperdibles. En GamerProXela, nos apasiona el gaming 
            y brindamos a nuestros clientes atención personalizada, ofertas exclusivas y un ambiente donde 
            los gamers pueden encontrar todo lo que necesitan para disfrutar al máximo.
        </p>
    </div>
</body>
</html>